.max-w-md.mx-auto.bg-white.shadow-lg.rounded-lg.p-8.border.border-gray-300
  %h2.text-3xl.font-bold.text-center.mb-8.text-gray-800= t('views.sessions.new.log_in_title')
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.input :email, label: t('views.sessions.new.email_label'), input_html: { autofocus: true, autocomplete: "email", class: "mt-2 block w-full border border-gray-300 rounded-lg shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 p-2" }, wrapper_html: { class: "mb-4" }
    = f.input :password, label: t('views.sessions.new.password_label'), input_html: { autocomplete: "current-password", class: "mt-2 block w-full border border-gray-300 rounded-lg shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 p-2" }, wrapper_html: { class: "mb-6" }
    - if devise_mapping.rememberable?
      .flex.items-center.mb-4
        = f.input :remember_me, as: :boolean, label: false, input_html: { class: "form-checkbox ml-2 h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500" }
        %label.ml-2.text-sm.text-gray-900= f.label :remember_me, t('views.sessions.new.remember_me')
    .flex.items-center.justify-between.mb-6.text-sm
      = render "devise/shared/links"
    %div
      = f.submit t('views.sessions.new.log_in_button'), class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-lg shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition duration-200"
